/*AriRegular*/
@font-face {
    font-family: ariw9500;
    src: url(/assets/fonts/ari-w9500.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*AriBold*/
@font-face {
    font-family: ariw9500;
    src: url(/assets/fonts/ari-w9500-bold.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.gradientBg {
    --color-1: #640D5F;
    --color-2: #B12C00;
    --color-3: #EB5B00;
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(to top, var(--color-1), var(--color-2), var(--color-3));
}

.bigHeader{
    font-family: ariw9500, Arial, sans-serif;
    font-weight: 700;
    font-size: 33px;
    text-align: center;
    margin-top: 20px;
}

.blackOutline{
    --outline-size: 4px;
    --outline-color: black;
    color: white;
    text-shadow:
        var(--outline-size) 0 var(--outline-color),
        calc(var(--outline-size) * -1) 0 var(--outline-color),
        0 var(--outline-size) var(--outline-color),
        0 calc(var(--outline-size) * -1) var(--outline-color),
        var(--outline-size) var(--outline-size) var(--outline-color),
        calc(var(--outline-size) * -1) var(--outline-size) var(--outline-color),
        var(--outline-size) calc(var(--outline-size) * -1) var(--outline-color),
        calc(var(--outline-size) * -1) calc(var(--outline-size) * -1) var(--outline-color);  
}

.separator{
    margin: 20px 0;
}

.centeredText{
    text-align: center;
    color: white;
    font-family: ariw9500, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.textWindowPixelated{
    font-size: 16px;      
    min-width: 150px;     
    width: 60%;          
    margin: 0 auto;
    padding: 8px;         
    border: 3px solid white;
    background-color: black;
    image-rendering: pixelated;
}

/*wersja na telefon*/
@media (max-width: 600px) {
    .textWindowPixelated{
        font-size: 18px;
        min-width: 200px;
        width: 40%;
        margin: 0 auto;
        padding: 10px;
        border: 4px solid white;
        background-color: black;
        image-rendering: pixelated;
    }

    .centeredText{
        text-align: center;
        color: white;
        font-family: ariw9500, Arial, sans-serif;
        font-weight: 400;
        font-size: 11px;
    }

    .bigHeader{
        font-family: ariw9500, Arial, sans-serif;
        font-weight: 700;
        font-size: 22px;
        text-align: center;
        margin-top: 20px;
}
}